body {
    background-color: #0f121c;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: white;
    margin-top: 20px;
  }
  
  .bracket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full page height */
    background-color: #000000; /* Light background for better visibility */
  }
  
  .svg-viewer {
    width: 100%; 
    height: 100%;
    margin: 100%;
  }
  
  .team {
    font-size: 14px;
    text-align: center;
    color: white;
  }
  
  .participant-name {
    font-weight: bold;
  }
  
  .match-container {
    border: 1px solid #292b43;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  