body {
    background-color: #0f121c;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: white;
    margin-top: 20px;
  }
  
  .bracket-container {
    display: flex;
    justify-content: center; /* Center the bracket horizontally */
    align-items: center; /* Center the bracket vertically */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent overflow of the bracket */
  }
  
  .svg-viewer {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  }
  
  .match {
    padding: 10px;
    border: 2px solid #292b43;
    background-color: #1b1d2d;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .match.highlighted {
    background-color: #00bfff; /* Light up background */
    border-color: #00ffff; /* Highlight border */
    color: #fff; /* Ensure text is readable */
  }
  
  .match:hover {
    cursor: pointer;
    background-color: #505773; /* Slight hover effect */
    border-color: #00ffff;
  }
  
  .team {
    font-size: 14px;
    text-align: center;
    color: white;
  }
  
  .participant-name {
    font-weight: bold;
  }
  
  .match-container {
    border: 1px solid #292b43;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  